main {
	margin: 0.5rem 0.5rem 0 0.5rem;
}

.topBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/* Mobile View */
@media (max-width: 480px) {
	.topBar {
		flex-direction: column;
		align-items: flex-start;
	}
}

.refreshButton {
	display: flex;
	align-items: center;
	font-size: 1rem;
	background-color: #037ae8;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	border-radius: 4px;
}

.refreshButton img {
	margin-right: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
}

.refreshButton:hover {
	background-color: #0366d6;
}

.refreshButton:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.inputTitle {
	font-size: 1.2rem;
	font-weight: 700;
	color: #000;
	margin-bottom: 0.2rem;
	margin-top: 0.5rem;
}

.inputWrapper {
	display: flex;
	margin-bottom: 1rem;
	width: 20rem;
}

.input {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
	width: 100%;
}

.input:focus {
	outline: none;
	border: 1px solid #000;
}

.inputButton {
	background-color: #037ae8;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	border-radius: 0 4px 4px 0;
}

.inputButton:hover {
	background-color: #0366d6;
}

.inputButton:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.cards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
